*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding: 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header>.start{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.q1{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.logo {
    display: flex;
}
.logo-icon{
    width: 90px;
    height: 20px;
    padding: 18px 14px 18px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.country {
    font-size: 10px;
    margin: 12px 0 0 -10px;
}
header>.center{
    width: 728px;
    display: flex;
    align-items: center;
}
.con{
    background-color: white;
    border-radius: 40px 0 0 40px;
    border: 1px solid #ccc;
}



.search{
    display: flex;
    align-items: center;
    width: 100%;
}

.search input {
    width: 70%;
    height: 42px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 10px 15px;
    border-top-left-radius :20px;
    border-bottom-left-radius :20px;
}
.search input::placeholder{
    color: rgb(167, 167, 167);
}
.search_icon {
    border-top-right-radius :20px;
    border-bottom-right-radius :20px;
    border: 1px solid rgb(211, 211, 211);
    border-left: none;
    height: 42px;
    width: 65px;
    background-color: #f8f8f8;
}
.search_icon svg{
    width: 55%;
    height: 55%;
}
.navigation__button {
    margin-left: 10px;
    width: 45px;
    border: none;
    padding: 17px 10px;
    background-color: transparent;
    cursor: pointer;
    line-height: 5px;
}
.navigation_icon {
    width: 24px;
    height: 24px;
}

.end>img{
    border-radius: 50px;
    margin-right: 40px;
}
.end_one{
    margin-right: 40px;
    width: 25px;
}
.end{
    display: flex;
    justify-content: center; 
}
/* ---------------------------- 헤더 */
.sidebar {
    width: 240px;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    padding: 12px 0;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.sidebar_se{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar_link {
    display: flex;
    color: rgb(3, 3, 3);
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    padding: 0 24px;
    height: 40px;
}
.selected {
    background-color: rgba(108, 108, 108, 0.1);
    border-radius: 15px;
    font-weight: 500;
}
.sidebar_link svg{
    height: 24px;
    width: 24px;
    margin-right: 24px;
}
.hh{
    padding: 0px 24px;
    color: rgb(0, 0, 0);
}
.sidebar_under{
    padding: 20px 30px;
}
.under_one{
    font-size: 13px;
    color: 606060;
    margin-bottom: 25px;
}
.under_two{
    font-size: 10px;
    color: #ccc;
}
/* -----------------------------------------사이드 */
.videodiv{
    margin-top: 100px;
    margin-left: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video_q{
    margin: 40px 15px;
    width: 300px;
}
.video_q>a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.iimg2{
    width: 55px;
}
.iimg>img{
    width: 310px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.iimg2>img{
    width: 35px;
    border-radius: 50px;
}
.info {
    display: flex;
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.info__avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: grey;
    margin: 12px 12px 0 0;
}
.info h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    
    color: rgb(3, 3, 3);
}
.info a {
    text-decoration: none;
    color: unset;
}










.srve{
    margin-left: 50px;
    display: flex;
    position: fixed;
    top: 56px;
    right: 0;
    left: 240px;
    background-color: white;
}
.srve_w{
    background-color: black;
    color: white;
    white-space : pre;
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 10px;
    margin: 12px 12px 12px 0;
    cursor: pointer;
}
.srve_q{
    white-space : pre;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 10px;
    margin: 12px 12px 12px 0;
    cursor: pointer;
}

/* ------------아 집가고싶다 */

